---
title: counterbalanced continuous designs with eulerian walks
author: Patrick Sadil
date: '2020-03-14'
publishDate: '2020-03-14T21:42:18-04:00'
slug: counterbalanced-continuous-designs-with-eulerian-walks
categories:
  - experiments
tags:
  - R
  - dissertation
  - fmri
subtitle: ''
summary: ''
authors: []
featured: no
image:
  preview_only: true
projects: []
---

<script src="/psadil/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/psadil/rmarkdown-libs/viz/viz.js"></script>
<link href="/psadil/rmarkdown-libs/DiagrammeR-styles/styles.css" rel="stylesheet" />
<script src="/psadil/rmarkdown-libs/grViz-binding/grViz.js"></script>


<p>Many experiments require counterbalancing sequences of trials. For example, I’m currently running an experiment on <a href="https://psadil.gitlab.io/psadil/post/serial-dependence/">serial dependence</a><a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>. In my experiment, participants report the orientation of a grating<a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a> stimulus on each trial. The serial dependence effect is how their responses on one trial depend on either the orientation of the previous trial or their response on that trial. To tease apart the effects of prior stimuli from prior responses, I’m manipulating the visual contrast of the gratings ( <a href="https://en.wikipedia.org/wiki/Contrast_(vision)#Michelson_contrast">Michelson contrast</a> ). There are three levels of contrast: high, low, and zero (at zero contrast, there is no grating stimulus). This experiment will only need a few of the eight possible pairs of contrasts, and I’d like a sequence of trials that does not have any filler trials. So I need a flexible way to generate sequences of contrast.</p>
<p>It turns out that this problem can be formulated as constructing an <a href="https://en.wikipedia.org/wiki/Eulerian_path">Eulerian, directed cycle</a>. There are likely other ways <a href="#fn3" class="footnote-ref" id="fnref3"><sup>3</sup></a>, but I think this is a neat approach. I won’t talk much about why any of this works, primarily because I don’t feel qualified to do so. However, the post includes a script that implements the algorithm, and checks that it has worked. So, hopefully it’ll be useful to at least a future me. But before discussing an Eulerian circuit, let’s talk about formulating the stimulus conditions as a graph.</p>
<div id="trials-can-be-represented-with-a-graph" class="section level1">
<h1>Trials can be represented with a graph</h1>
<p>All potential sequences of trials will be represented as a graph. The graphs nodes will correspond to conditions, and edges between the nodes will correspond to allowable transitions. To represent these graphs, I’ll use the <a href="http://visualizers.co/diagrammer/"><code>DiagrammeR</code> package</a>.</p>
<pre class="r"><code># library(DiagrammeR)
library(magrittr)
# library(dplyr)</code></pre>
<p>In the graph of my experiment, there will be three nodes for each of the three conditions (Figure <a href="#fig:nodes">1</a>).</p>
<pre class="r"><code>nodes &lt;- DiagrammeR::create_node_df(
  n = 3,
  label = c(&quot;zero&quot;,&quot;low&quot;,&quot;high&quot;))

DiagrammeR::create_graph(nodes_df = nodes) %&gt;%
  DiagrammeR::render_graph(layout = &quot;tree&quot;)</code></pre>
<div class="figure"><span id="fig:nodes"></span>
<div id="htmlwidget-1" style="width:672px;height:480px;" class="grViz html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"diagram":"digraph {\n\ngraph [layout = \"neato\",\n       outputorder = \"edgesfirst\",\n       bgcolor = \"white\"]\n\nnode [fontname = \"Helvetica\",\n      fontsize = \"10\",\n      shape = \"circle\",\n      fixedsize = \"true\",\n      width = \"0.5\",\n      style = \"filled\",\n      fillcolor = \"aliceblue\",\n      color = \"gray70\",\n      fontcolor = \"gray50\"]\n\nedge [fontname = \"Helvetica\",\n     fontsize = \"8\",\n     len = \"1.5\",\n     color = \"gray80\",\n     arrowsize = \"0.5\"]\n\n  \"1\" [label = \"zero\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"0,1!\"] \n  \"2\" [label = \"low\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"1,1!\"] \n  \"3\" [label = \"high\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"2,1!\"] \n}","config":{"engine":"dot","options":null}},"evals":[],"jsHooks":[]}</script>
<p class="caption">
Figure 1: Node represent experimental conditions.
</p>
</div>
<p>In my experiment, I want trials to go from low to high, zero to high, or high to high, high to low, and high to zero (Figure <a href="#fig:edges">2</a>). Including only these five types of transitions means excluding a few of the possible edges that could be in the graph. For example, I do not want any zero contrast trials to follow any other zero contrast trials, nor do I want a low contrast trial to follow a zero contrast trial.</p>
<pre class="r"><code>edges &lt;- DiagrammeR::create_edge_df(
  from = c(1,2,3,3,3),
  to = c(3,3,3,1,2)) 

DiagrammeR::create_graph(
  nodes_df = nodes,
  edges_df = edges)  %&gt;%
  DiagrammeR::render_graph(
    layout = &quot;tree&quot;)</code></pre>
<div class="figure"><span id="fig:edges"></span>
<div id="htmlwidget-2" style="width:672px;height:480px;" class="grViz html-widget"></div>
<script type="application/json" data-for="htmlwidget-2">{"x":{"diagram":"digraph {\n\ngraph [layout = \"neato\",\n       outputorder = \"edgesfirst\",\n       bgcolor = \"white\"]\n\nnode [fontname = \"Helvetica\",\n      fontsize = \"10\",\n      shape = \"circle\",\n      fixedsize = \"true\",\n      width = \"0.5\",\n      style = \"filled\",\n      fillcolor = \"aliceblue\",\n      color = \"gray70\",\n      fontcolor = \"gray50\"]\n\nedge [fontname = \"Helvetica\",\n     fontsize = \"8\",\n     len = \"1.5\",\n     color = \"gray80\",\n     arrowsize = \"0.5\"]\n\n  \"1\" [label = \"zero\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"0,2!\"] \n  \"2\" [label = \"low\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"1,2!\"] \n  \"3\" [label = \"high\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"0.5,1!\"] \n  \"1\"->\"3\" \n  \"2\"->\"3\" \n  \"3\"->\"3\" \n  \"3\"->\"1\" \n  \"3\"->\"2\" \n}","config":{"engine":"dot","options":null}},"evals":[],"jsHooks":[]}</script>
<p class="caption">
Figure 2: Directed edges between nodes represent allowable transitions.
</p>
</div>
<p>Constructing a sequence of trials will correspond to walking along the edges, from node to node. That walk will be Eulerian if each edge is be visited exactly once. With so few edges, it’s easy enough to visualize an Eulerian walk through the edges. One possible Eulerian walk (a cycle<a href="#fn4" class="footnote-ref" id="fnref4"><sup>4</sup></a>, even) is shown in Figure <a href="#fig:smallwalk">3</a>.</p>
<pre class="r"><code>edges_labelled &lt;- DiagrammeR::create_edge_df(
  from = c(3,2,3,3,1),
  to = c(2,3,3,1,3),
  label = as.character(1:5)) 

DiagrammeR::create_graph(
  nodes_df = nodes,
  edges_df = edges_labelled) %&gt;%
  DiagrammeR::render_graph(
    layout = &quot;tree&quot;)</code></pre>
<div class="figure"><span id="fig:smallwalk"></span>
<div id="htmlwidget-3" style="width:672px;height:480px;" class="grViz html-widget"></div>
<script type="application/json" data-for="htmlwidget-3">{"x":{"diagram":"digraph {\n\ngraph [layout = \"neato\",\n       outputorder = \"edgesfirst\",\n       bgcolor = \"white\"]\n\nnode [fontname = \"Helvetica\",\n      fontsize = \"10\",\n      shape = \"circle\",\n      fixedsize = \"true\",\n      width = \"0.5\",\n      style = \"filled\",\n      fillcolor = \"aliceblue\",\n      color = \"gray70\",\n      fontcolor = \"gray50\"]\n\nedge [fontname = \"Helvetica\",\n     fontsize = \"8\",\n     len = \"1.5\",\n     color = \"gray80\",\n     arrowsize = \"0.5\"]\n\n  \"1\" [label = \"zero\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"0,2!\"] \n  \"2\" [label = \"low\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"1,2!\"] \n  \"3\" [label = \"high\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"0.5,1!\"] \n\"3\"->\"2\" [label = \"1\"] \n\"2\"->\"3\" [label = \"2\"] \n\"3\"->\"3\" [label = \"3\"] \n\"3\"->\"1\" [label = \"4\"] \n\"1\"->\"3\" [label = \"5\"] \n}","config":{"engine":"dot","options":null}},"evals":[],"jsHooks":[]}</script>
<p class="caption">
Figure 3: The numbers trace an Eulerian cycle on this graph.
</p>
</div>
<p>The cycle in Figure <a href="#fig:smallwalk">3</a> implies a workable sequence of six trials, but the use of this Eulerian conceptualization will be how it automates creating much longer sequences. For example, to achieve 21 trials the edges could be replicated four times. Figure <a href="#fig:messy">4</a> shows the graph with replicated edges, and already it looks too messy to traverse by sight. A real experiment will involve hundreds of trials, meaning that we’d like a way to automatically traverse an Eulerian circuit.</p>
<pre class="r"><code>edges_messy &lt;- DiagrammeR::create_edge_df(
  from = rep(c(3,2,3,3,1), each=4),
  to = rep(c(2,3,3,1,3), each=4)) 

DiagrammeR::create_graph(
  nodes_df = nodes,
  edges_df = edges_messy) %&gt;%
  DiagrammeR::render_graph(layout = &quot;tree&quot;)</code></pre>
<div class="figure"><span id="fig:messy"></span>
<div id="htmlwidget-4" style="width:672px;height:480px;" class="grViz html-widget"></div>
<script type="application/json" data-for="htmlwidget-4">{"x":{"diagram":"digraph {\n\ngraph [layout = \"neato\",\n       outputorder = \"edgesfirst\",\n       bgcolor = \"white\"]\n\nnode [fontname = \"Helvetica\",\n      fontsize = \"10\",\n      shape = \"circle\",\n      fixedsize = \"true\",\n      width = \"0.5\",\n      style = \"filled\",\n      fillcolor = \"aliceblue\",\n      color = \"gray70\",\n      fontcolor = \"gray50\"]\n\nedge [fontname = \"Helvetica\",\n     fontsize = \"8\",\n     len = \"1.5\",\n     color = \"gray80\",\n     arrowsize = \"0.5\"]\n\n  \"1\" [label = \"zero\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"0,2!\"] \n  \"2\" [label = \"low\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"1,2!\"] \n  \"3\" [label = \"high\", fillcolor = \"#F0F8FF\", fontcolor = \"#000000\", pos = \"0.5,1!\"] \n  \"3\"->\"2\" \n  \"3\"->\"2\" \n  \"3\"->\"2\" \n  \"3\"->\"2\" \n  \"2\"->\"3\" \n  \"2\"->\"3\" \n  \"2\"->\"3\" \n  \"2\"->\"3\" \n  \"3\"->\"3\" \n  \"3\"->\"3\" \n  \"3\"->\"3\" \n  \"3\"->\"3\" \n  \"3\"->\"1\" \n  \"3\"->\"1\" \n  \"3\"->\"1\" \n  \"3\"->\"1\" \n  \"1\"->\"3\" \n  \"1\"->\"3\" \n  \"1\"->\"3\" \n  \"1\"->\"3\" \n}","config":{"engine":"dot","options":null}},"evals":[],"jsHooks":[]}</script>
<p class="caption">
Figure 4: Replicating edges quickly complicates the graph.
</p>
</div>
</div>
<div id="hierholzers-algorithm-automates-eulerian-cycles" class="section level1">
<h1>Hierholzer’s algorithm automates Eulerian cycles</h1>
<p>Fortunately, there exists and algorithm for making Eulerian cycles that is both simple to implement and quick to run. First, here is a helper function to replicate edges, <code>replicate_edges</code>.</p>
<pre class="r"><code>#&#39; replicate_edges
#&#39;
#&#39; @param edge_df output of DiagrammeR::create_edge_df (will only need columns `to` and `from`)
#&#39; @param n_reps integer number of times that the edges should be replicated
#&#39;
#&#39; @return replicated edge dataframe
replicate_edges &lt;- function(edge_df, n_reps){
  replicate(n_reps, edge_df, simplify = FALSE) %&gt;%
    dplyr::bind_rows() %&gt;%
    dplyr::mutate(id = 1:dplyr::n())
}</code></pre>
<p>The next function will generate the Eulerian circuit, <code>walk_circuit</code>. It will take in an edge dataframe (possibly replicated) and output a vector containing the nodes listed in the order that they were reached. Again, I won’t spend too long explaining why this works. But the basic idea is to traverse the edges, deleting edges as you walk along them. You’ll eventually reach a dead-end. If there are still more edges, then backtrack until you can travel along an edge that will result in a different dead-end. Save a list of the nodes that were traveled while backtracking, and these nodes will contain the circuit.</p>
<pre class="r"><code>#&#39; walk_circuit
#&#39;
#&#39; @param edge_df edge dataframes 
#&#39; @param curr_v vertex at which to start the circuit
#&#39;
#&#39; @return vector consisting of Eulerian circuit along edges
#&#39;
#&#39; @details modified python script from https://gregorulm.com/finding-an-eulerian-path/.
walk_circuit &lt;- function(edge_df, curr_v){
  
  # helpful to have the edges stored by node
  adj &lt;- edge_df %&gt;%
    dplyr::group_split(from)
  
  # vector to store final circuit 
  circuit &lt;- c() 
  # Maintain a stack to keep vertices 
  # start from given node
  curr_path &lt;- curr_v 
  while (length(curr_path)){
    # If there&#39;s a remaining edge 
    if (nrow(adj[[curr_v]])){
      # Push the vertex 
      curr_path &lt;- c(curr_path,curr_v)   
      # Find the next vertex using an edge 
      next_v_ind &lt;- sample.int(nrow(adj[[curr_v]]), size=1)
      next_v &lt;- adj[[curr_v]]$to[next_v_ind]
      # and remove that edge 
      adj[[curr_v]] &lt;- adj[[curr_v]][-next_v_ind,]
      # Move to next vertex 
      curr_v &lt;- next_v 
    } else{ # back-track to find remaining circuit 
      circuit &lt;- c(circuit, curr_v)   
      # Back-tracking 
      curr_v &lt;- tail(curr_path, n = 1) 
      curr_path &lt;- head(curr_path, n = -1)   
    }
  }   
  return(rev(circuit))
}</code></pre>
<p>Now replicate the edges twice and go for and Eulerian tour.</p>
<pre class="r"><code>edges_twice &lt;- replicate_edges(edges, 2)
walk_circuit(edges_twice, 3)</code></pre>
<pre><code>##  [1] 3 1 3 2 3 1 3 3 2 3 3</code></pre>
<p>This sequence is small enough that it’s feasible to verify the Eulerian property by hand, but it’ll be nice to have automate the checking. That is the purpose of this next function, <code>check_blocking</code>.</p>
<pre class="r"><code>#&#39; check_blocking
#&#39;
#&#39; @param circuit output of walk_circuit
#&#39; @param nodes nodes_df, output of DiagrammeR::create_node_df. Used to label which nodes were visted during the walk
#&#39;
#&#39; @return tbl containing the counts of each transition type contained in the circuit. 
#&#39; If all went well, the counts should be equal
check_blocking &lt;- function(circuit, nodes){
  tibble::tibble(contrast = circuit) %&gt;%
    dplyr::mutate(
      trial = 1:dplyr::n(),
      contrast = nodes$label[contrast],
      last_contrast = dplyr::lag(contrast)) %&gt;%
    dplyr::filter(trial &gt; 1) %&gt;%
    dplyr::group_by(contrast, last_contrast) %&gt;%
    dplyr::summarise(n = dplyr::n())
}</code></pre>
<p>Now, generate a sequence of 101 trials,</p>
<pre class="r"><code>edges_large &lt;- replicate_edges(edges, n_reps = 20)
circuit &lt;- walk_circuit(edges_large, 3)
circuit</code></pre>
<pre><code>##   [1] 3 2 3 3 1 3 2 3 2 3 3 1 3 1 3 3 1 3 3 2 3 1 3 2 3 2 3 1 3 3 1 3 3 2 3 3 3
##  [38] 1 3 1 3 1 3 3 2 3 2 3 3 2 3 2 3 1 3 1 3 3 2 3 1 3 1 3 3 2 3 1 3 3 3 3 3 2
##  [75] 3 3 1 3 2 3 3 2 3 1 3 1 3 3 1 3 2 3 2 3 1 3 3 2 3 2 3</code></pre>
<p>and check that each transition happened equally often</p>
<pre class="r"><code>check_blocking(circuit, nodes) %&gt;%
  knitr::kable()</code></pre>
<pre><code>## `summarise()` regrouping output by &#39;contrast&#39; (override with `.groups` argument)</code></pre>
<table>
<thead>
<tr class="header">
<th align="left">contrast</th>
<th align="left">last_contrast</th>
<th align="right">n</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">high</td>
<td align="left">high</td>
<td align="right">20</td>
</tr>
<tr class="even">
<td align="left">high</td>
<td align="left">low</td>
<td align="right">20</td>
</tr>
<tr class="odd">
<td align="left">high</td>
<td align="left">zero</td>
<td align="right">20</td>
</tr>
<tr class="even">
<td align="left">low</td>
<td align="left">high</td>
<td align="right">20</td>
</tr>
<tr class="odd">
<td align="left">zero</td>
<td align="left">high</td>
<td align="right">20</td>
</tr>
</tbody>
</table>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Well, I was running. Out of precaution for COVID-19, it currently seems like a bad idea to try to collect more participants. And UMass is closed for the rest of the semester.<a href="#fnref1" class="footnote-back">↩︎</a></p></li>
<li id="fn2"><p>adjacent black and white lines cropped to a circle, where the transitions between luminance follows a sinusoid<a href="#fnref2" class="footnote-back">↩︎</a></p></li>
<li id="fn3"><p>In this particular case, a simpler solution would be to assign each pair of contrasts a number. For example,</p>
<ol style="list-style-type: decimal">
<li>high -&gt; high</li>
<li>low -&gt; high</li>
<li>zero -&gt; high</li>
</ol>
<p>An appropriate sequence could be generated by simply permuting the numbers. For example 2, 3, 1, 3, 2 In that case, the sequence of trials would be <code>low high zero high high high zero high low high</code>. This works because the second trial of each of the transitions are <code>high</code>. But what if you also wanted a few <code>low-&gt;low</code> and <code>zero-&gt;zero</code> transitions, but wanted neither <code>low-&gt;zero</code> nor <code>zero-&gt;low</code>? By simply permuting the number codes, a <code>zero-&gt;zero</code> transition could appear right after a <code>low-&gt;low</code> transition, but to do that would require a filler <code>low-zero</code>.<a href="#fnref3" class="footnote-back">↩︎</a></p></li>
<li id="fn4"><p>a cycle or circuit is a walk that starts and ends at the same node<a href="#fnref4" class="footnote-back">↩︎</a></p></li>
</ol>
</div>
