---
title: thoughts on eye movement
author: Patrick Sadil
date: '2019-11-21'
slug: thoughts-on-eye-movement
categories: []
tags: []
link-citations: true
bibliography: [2019-11-21-thoughts-on-eye-movement.bib]
image:
  placement: 1
  caption: ''
  focal_point: ''
  preview_only: true
---

<link href="index_files/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="index_files/anchor-sections/anchor-sections.js"></script>


<p>Visual perception research has produced many illusions. Stare at a waterfall for a minute, then look away and the whole world appears in motion, traveling upwards <span class="citation">(Addams <a href="#ref-addams1834" role="doc-biblioref">1834</a>)</span>. Given proper lighting, black paper can appear white, but placing a white piece of paper nearby colors the first dark gray <span class="citation">(Gelb <a href="#ref-gelb1929" role="doc-biblioref">1929</a>; as cited by Cataliotti and Gilchrist <a href="#ref-cataliotti1995" role="doc-biblioref">1995</a>)</span>. Inspecting two sets of black lines – horizontal lines that obscure a solid red field like a picket fence, along with vertical lines that obscure a solid green field – causes the black lines alone to induce a perception of color, an illusory shading that can last for days <span class="citation">(McCollough <a href="#ref-mccollough1965" role="doc-biblioref">1965</a>)</span>. Such illusions reveal the intricacies of visual perception, kludges and all<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>. The pizzazz of the illusions affords visual perception a kind of scientific rigor; the effects are obviously real and reproducible, so to satisfyingly explain how visual perception works <em>so well</em> also requires explaining how atypical visual environments can so often dupe vision.</p>
<p>However, research on visual perception inevitably strays from fascinating and easily demonstrable illusions. Of course, even without the glamour of classic visual illusions an effect can still be a reliable and valid object of research. But as the effect becomes more subtle, observing the effect requires increasingly complex analyses. Unfortunately, the most complex analyses, when misapplied, can also transmute noise into something that appears noteworthy<a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a>. So when a subtle effect relies entirely on a complex analysis, the effect becomes suspect. To highlight the obviousness of an effect, it can help to visualize and revisualize the data.</p>
<p>A few weeks ago, <a href="https://psadil.gitlab.io/psadil/post/serial-dependence/">I posted</a> about an effect that warrants revisualizing, the apparent stability of visual perception. I discussed this stability as one of the reasons that perception exhibits serial dependence <span class="citation">(Fischer and Whitney <a href="#ref-fischer2014" role="doc-biblioref">2014</a>)</span>, which is the tendency of visual perception to be slightly erroneous, resembling not an accurate reproduction of the input it receives but a mixture of current input and input from the past. This dependence may occur during perception to refine the inherently erratic input provided by the retina. I attempt to demonstrate the need for refinement with Figures 1-3. Figure <a href="#fig:density">1</a> shows a stimulus from an ongoing experiment. In the experiment, the participant was required to simply hold their gaze still. The figure is a heatmap, showing that this participant successfully fixated on a small region of the stimulus. However, the heatmap obscures how fixating on a “small” region implies ample movement. Figure <a href="#fig:centric1"><strong>??</strong></a> recapitulates, in real time, how the gaze wandered during fixation. But then Figure <a href="#fig:centric1"><strong>??</strong></a> obscures what that wandering means for the visual system; whenever the eye moves, the retina receives (and so must then output) a different image. With Figure <a href="#fig:final"><strong>??</strong></a>, I attempt to visualize what these eye movements mean for the retinal image. In Figure <a href="#fig:final"><strong>??</strong></a>, the movements of the gaze are transferred to the stimulus, revealing how the retina receives a twitching stimulus. The effect to explain here is why fixating at the dot in Figure <a href="#fig:density">1</a> – given that the eyes move as shown in Figure <a href="#fig:centric1"><strong>??</strong></a> – does not elicit the jumpy movie depicted in Figure <a href="#fig:final"><strong>??</strong></a>, but instead elicits the stable image of Figure <a href="#fig:density">1</a>.</p>
<div class="figure"><span id="fig:density"></span>
<img src="index_files/figure-html/density-1.png" alt="Example stimulus, with heatmap of eye positions during one trial overlayed. Participants viewed such grating stimuli, each for five seconds. They were instructed to fixate on the central magenta dot. The blob to the left of the dot indicates where this participant looked during the trial; the brightest regions held their gaze for the most time." width="672" />
<p class="caption">
Figure 1: Example stimulus, with heatmap of eye positions during one trial overlayed. Participants viewed such grating stimuli, each for five seconds. They were instructed to fixate on the central magenta dot. The blob to the left of the dot indicates where this participant looked during the trial; the brightest regions held their gaze for the most time.
</p>
</div>
<div id="references" class="section level1 unnumbered">
<h1>References</h1>
<div id="refs" class="references">
<div id="ref-addams1834">
<p>Addams, Roberts. 1834. “An Account of a Peculiar Optical Phenomenon Seen After Having Looked at a Moving Body.” <em>The London, Edinburgh, and Dublin Philosophical Magazine and Journal of Science</em> 5 (29): 373–74.</p>
</div>
<div id="ref-cataliotti1995">
<p>Cataliotti, Joseph, and Alan Gilchrist. 1995. “Local and Global Processes in Surface Lightness Perception.” <em>Perception &amp; Psychophysics</em> 57 (2): 125–35.</p>
</div>
<div id="ref-fischer2014">
<p>Fischer, Jason, and David Whitney. 2014. “Serial Dependence in Visual Perception.” <em>Nature Neuroscience</em> 17 (5): 738.</p>
</div>
<div id="ref-gelb1929">
<p>Gelb, Adhémar. 1929. “Die "Farbenkonstanz" Der Sehdinge.” In <em>Handbuch Der Normalen Und Pathologischen Physiologie</em>, 594–678. Springer-Verlag.</p>
</div>
<div id="ref-mccollough1965">
<p>McCollough, Celeste. 1965. “Color Adaptation of Edge-Detectors in the Human Visual System.” <em>Science</em> 149 (3688): 1115–6.</p>
</div>
</div>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>To personally experience the illusions mentioned here – and many others – explore <a href="https://michaelbach.de/ot/">Michael Bach’s website</a>.<a href="#fnref1" class="footnote-back">↩︎</a></p></li>
<li id="fn2"><p>Full disclosure: I write this as someone who has written <a href="https://psadil.gitlab.io/psadil/publication/sadil_huber_cowell_2019/">a paper</a> on a novel development of an already obscure analysis, a development that I needed to support the claims in <a href="https://psadil.gitlab.io/psadil/publication/sadil_potter_huber_cowell_dots_2019/">another paper</a>. I am a kettle.<a href="#fnref2" class="footnote-back">↩︎</a></p></li>
</ol>
</div>
