---
title: an overview of population receptive field mapping
author: Patrick Sadil
date: '2019-09-27'
slug: population-receptive-field-mapping
categories:
  - dissertation
tags: []
image:
  caption: ''
  focal_point: ''
link-citations: true
bibliography: [one.bib]
---



<p>Perceiving the world requires representing the world in neural tissue. A neuron is <em>tuned</em> to perceivable information when different values of that information cause the neuron to fire at a different rate. For example, most visual neurons are tuned to spatial location. The spatial tuning could be measured by placing a recording electrode in a neuron in a macaque’s visual cortex while the macaque fixated on the center of a computer monitor and a picture moved across that monitor. The electrode would report higher activity only when the picture was in certain parts of the macaque’s visual field. The function relating the position of the picture to the neuron’s activity is the tuning function. Such functions often resembles a bivariate Gaussian (Figure <a href="#fig:prf">1</a>). To study these tuning functions is to study how these neurons represent the world.</p>
<div class="figure"><span id="fig:prf"></span>
<img src="/psadil/post/2019-09-27-population-receptive-field-mapping/index_files/figure-html/prf-1.png" alt="The bivariate Gaussian represents a neuron's receptive field. The neuron will be most responsive to information that overlaps with the bright yellow regions. Since this the upper left portion of the box is slightly encompassed by the receptive field, the neuron' might fire slightly more rapidly as compared to its baseline rate." width="672" />
<p class="caption">
Figure 1: The bivariate Gaussian represents a neuron’s receptive field. The neuron will be most responsive to information that overlaps with the bright yellow regions. Since this the upper left portion of the box is slightly encompassed by the receptive field, the neuron’ might fire slightly more rapidly as compared to its baseline rate.
</p>
</div>
<p>Sensory neurons are tuned to many other features such as orientation, color, pitch, direction of motion. Most neurons tuned to one visual feature are also tuned to spatial location, so understanding a neuron’s spatial can facilitate understanding its other sensitivities<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>. The tuning functions of neurons even have a special name, their receptive field. However, it is often unfeasible to record from individual neurons in humans, and instead only non-invasive neuroimaging methods are available. But these non-invasive methods have low spatial resolution. Even the relatively well spatially resolved technique of functional magnetic resonance imaging reflects the aggregated activity of 10e5 - 10e6 neurons.</p>
<p>Fortunately, the <em>retinotopic</em> arrangement of visual neurons facilitates relating the spatial tuning of a voxel<a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a> to the receptive field of individual neurons. A retinotopic arrangement means that neighboring neurons are tuned to neighboring locations in the visual field; for example, neurons tuned to things in the fovea cluster together and neurons tuned to peripheral locations surround that cluster. This retinotopic arrangement implies that all neurons sampled by a voxel represent nearby regions in the visual environment. Referring to the neurons in a voxel as a population, the receptive field of a voxel is called a population receptive field. Studying population receptive fields alone cannot reveal how individual neurons contribute to a coherent perceptual experience, but studying them can reveal how the populations respond as a group.</p>
<p>To chart out all of the mountainous population receptive fields in visual cortex is called population receptive field mapping <span class="citation">(Dumoulin and Wandell <a href="#ref-dumoulin2008" role="doc-biblioref">2008</a>)</span>. The receptive fields can be mapped by recording the activity of each voxel while a human participant is shown some visually salient movie. A mathematical model – such as a bivariate Gaussian – of the receptive field is assumed, and the data from each voxel are used to fit the parameters of that model. The specific images that are used will depend on which part of visual cortex is the focus of the experiment. A counterphasing black and white checkerboard might be close to optimal for primary visual cortex, but the checkerboard would only weakly stimulate neurons in higher level visual regions. To stimulate most of visual cortex, other researchers rely on <a href="kendrickkay.net/analyzePRF/">more varied displays</a>.</p>
<div id="references" class="section level1 unnumbered">
<h1>References</h1>
<div id="refs" class="references">
<div id="ref-dumoulin2008">
<p>Dumoulin, Serge O, and Brian A Wandell. 2008. “Population Receptive Field Estimates in Human Visual Cortex.” <em>Neuroimage</em> 39 (2): 647–60.</p>
</div>
</div>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>e.g., if you want to understand how a neuron is tuned to color, it helps to know where to put the color<a href="#fnref1" class="footnote-back">↩︎</a></p></li>
<li id="fn2"><p> <em>Voxels</em> are the elements that hold data in magnetic resonance imaging. A voxel in a 3D image is analogous to a pixel in a 2D image; a voxel is a pixel with a volume.<a href="#fnref2" class="footnote-back">↩︎</a></p></li>
</ol>
</div>
