---
title: Anonymizing MTurk WorkerIDs
author: Patrick Sadil
date: '2018-08-07'
slug: anonymizing-mtruk-worker-ids
categories:
  - experiments
tags:
  - mturk
  - R
  - psiturk
header:
  caption: ''
  image: ''
highlight_languages: ["R"]
---

<link href="index_files/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="index_files/anchor-sections/anchor-sections.js"></script>


<p>It may be the case that Amazon Mechanical Turk WorkerIDs are not anonymous. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2228728">Lease et al., 2013</a> describe at length how personally identifying information may be exposed when a researcher shares WorkerIDs. It is unclear to me the extent to which Amazon constructs their WorkerIDs at present, given that one of their striking demonstrations did not apply to my WorkerID. That is, they describe simply googling the WorkerID and receiving a picture of the participant, along with their full name. My WorkerID turn up nothing. Though, I have only been a worker on MTurk for a short while, so maybe I’ve been lucky and my ID has just not yet been shared widely.</p>
<p>Regardless, providing extra anonymity to participants isn’t too much trouble. This post serves as documentation for a brief script that takes a sqlite database produced by running an experiment in jspsych + psiturk and replaces all instances of the WorkerID with a more secure code.</p>
<p>The script relies on five R libraries</p>
<ol style="list-style-type: decimal">
<li><a href="https://magrittr.tidyverse.org">magrittr</a>, for ease of writing</li>
<li><a href="https://dplyr.tidyverse.org">dplyr</a>, through (dbplyr)[cran.r-project.org/web/packages/dbplyr/vignettes/dbplyr.html], serves as the way to interface with the sqlite database</li>
<li><a href="https://github.com/jeroen/openssl#readme">openssl</a> constructs a more secure identifier for each participant that can still be used to cross reference them across studies</li>
<li><a href="https://stringr.tidyverse.org">stringr</a> does the work of replacing instances of the WorkerID with the more secure code</li>
<li><a href="https://github.com/docopt/docopt.R">docopt</a>, wraps up the Rscript such that it can be called from the command line (in an environment in which Rscript is the name of a function. i.e., may be Rscript.exe in Windows powershell)</li>
</ol>
<pre class="r"><code>#!/usr/bin/env Rscript
# Anonymize participants database NOTE: always overrides the file --outfile

suppressMessages(library(docopt))

doc &lt;- &quot;Usage: 
  anonymize_db.R [-i DBNAME] KEY OUTFILE
  anonymize_db.R -h

Options:
  -i --infile DBNAME     sqlite database filename from which to read [default: participants_raw.db]
  -t --table TABLE       name of table within database to anonymize [default: participants]
  -h --help              show this help text

Arguments:
  KEY                   key to salt WorkerIDs for extra security
  OUTFILE               sqlite database filename to write&quot;


opt &lt;- docopt(doc)

suppressMessages(library(magrittr))
suppressMessages(library(dplyr))
suppressMessages(library(stringr))
suppressMessages(library(openssl))


db &lt;- dplyr::src_sqlite(opt$infile) %&gt;% dplyr::tbl(opt$table) %&gt;% dplyr::collect() %&gt;% 
    dplyr::mutate(uniqueid = stringr::str_replace(uniqueid, workerid, openssl::sha256(workerid, 
        key = opt$KEY)), datastring = dplyr::case_when(is.na(datastring) ~ datastring, 
        TRUE ~ stringr::str_replace_all(datastring, workerid, openssl::sha256(workerid, 
            key = opt$KEY))), workerid = openssl::sha256(workerid, key = opt$KEY))
message(paste0(&quot;read raw database: &quot;, opt$infile))

con &lt;- DBI::dbConnect(RSQLite::SQLite(), opt$OUTFILE)
dplyr::copy_to(con, db, opt$table, temporary = FALSE, indexes = list(&quot;uniqueid&quot;), 
    overwrite = TRUE)

DBI::dbDisconnect(con)
message(paste0(&quot;wrote anonymized database: &quot;, opt$OUTFILE))
message(paste0(&quot;Store your KEY securely if you want the same WorkerIDs to create the same HMACs!&quot;))</code></pre>
<p>As stated in the initial string of this script, a typical call might be</p>
<p><code>anonymize_db.R longandsecurelystoredsalt participants.db</code></p>
<p>which will read in the sqlite database <code>participants_raw.db</code> (default for –infile), convert all instances of WorkerID into a hash-digest with the sha256 algorithm, and store the result in a new sqlite database called <code>participants.db</code>.</p>
<p>The general workflow would be to include in your .gitignore the raw database output by psiturk. That way, the raw database is never uploaded into any repository. Then, when you are ready to host the experiment, you pull your repository as usual. As an extra step, you will now need to separately move around your raw database such that when you run the next experiment psiturk will know which workers have already participated. After collecting data, retrieve the database and run this anonymization script on it. The newly created database can then be bundled with your repository.</p>
<p>This is a bit of extra work (i.e., you must manually send the database, retrieve the database, then anonymize it). However, the whole point is to avoid making it easy to download something with potentially identifying information.</p>
<p>Downloadable copy, <a href="https://gitlab.com/psadil/visr-mturk/raw/master/anonymize_db.R?inline=false">here</a><a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>.</p>
<div id="gotchas" class="section level1">
<h1>Gotchas</h1>
<ol style="list-style-type: decimal">
<li><p>This function will overwrite any database of the same name as OUTFILE. Though, that’s often not an issue. If you’ve anonymized a database (call the result <code>participants.db</code>), added new participants to the same raw database, and then anonymize the raw database again, those participants that were anonymized in the first round will be re-anonymized and included in the new result.</p></li>
<li><p>If you want this function to convert a given WorkerID into a consistent code, you’ll need to call it with the same value for KEY.</p></li>
<li><p>It would be more secure to use a salt of random length for each participant separately.</p></li>
</ol>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>this is a link to a file in a gitlab repository which may be subject to change after the date of this posts’ upload<a href="#fnref1" class="footnote-back">↩︎</a></p></li>
</ol>
</div>
