/*-- scss:defaults --*/
// Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Atkinson Hyperlegible");

// fonts
$mainFont: "Atkinson Hyperlegible";
$headingFont: "Atkinson Hyperlegible";
$font-family-sans-serif: "Atkinson Hyperlegible";
$presentation-heading-font: "Atkinson Hyperlegible";