---
title: serial dependence experiment demo, online
author: Patrick Sadil
date: '2020-06-25'
slug: serial-dependence-experiment-demo-online
categories:
  - dissertation
tags:
  - experiment
subtitle: ''
summary: ''
authors: []
lastmod: '2020-06-25T20:07:46-04:00'
featured: no
image:
  caption: ''
  focal_point: ''
  preview_only: no
projects: []
draft: true
---



<p>A breadcrumb trail of post <a href="https://psadil.gitlab.io/psadil/post/derivative-of-gaussian-for-serial-dependence/">topics</a> <a href="https://psadil.gitlab.io/psadil/post/serial-dependence-reflects-a-preference-for-low-variability/">suggests</a> that I have been working on an experiment to explore <a href="https://psadil.gitlab.io/psadil/post/serial-dependence/">serial dependence</a>. When I explain these kinds of experiments to people outside of cognitive psychology, I find it hard to explain the experiment’s simplicity. The tasks are basic.</p>
<p>Today, I am happy to report that I now have an online demonstration of the task! The demo can be reached <a href="https://morning-earth-15290.herokuapp.com/serialdependence">here</a>. The experiment will start with a few pages of (poorly formatted) instructions. After that, you’ll do 11 trials.</p>
